In [201]:
# 找出路徑下所有的資料夾名稱
import os
import pandas as pd
allFileList = os.listdir('./data')
file_list = []
for file in allFileList:
    if file.startswith('real_estate'):
        data_dir = './data/' + file + '/a_lvr_land_b.csv'
        file_list.append(data_dir)
len(file_list)

33

In [202]:
# 確認預計的交易數量
# 要注意，部分資料夾沒有新成屋資料，要try catch
count = 0
for i in file_list:
    try:
        df = pd.read_csv(i)
        df = df[2:]
        count += len(df)
    except:
        print(i)
print(count)

./data/real_estate1013/a_lvr_land_b.csv
5396

In [203]:
# 建立一個預備使用的空DataFrameresult_df = pd.read_csv(file_list[0])
result_df = df[0:0]
result_df

Empty DataFrame
Columns: [鄉鎮市區, 交易標的, 土地區段位置建物區段門牌, 土地移轉總面積平方公尺, 都市土地使用分區, 非都市土地使用分區, 非都市土地使用編定, 交易年月日, 交易筆棟數, 移轉層次, 總樓層數, 建物型態, 主要用途, 主要建材, 建築完成年月, 建物移轉總面積平方公尺, 建物現況格局-房, 建物現況格局-廳, 建物現況格局-衛, 建物現況格局-隔間, 有無管理組織, 總價元, 單價元平方公尺, 車位類別, 車位移轉總面積平方公尺, 車位總價元, 備註, 編號]
Index: []

[0 rows x 28 columns]

In [204]:
# 合併所有資料到result_df
for i in file_list:
    try:
        df = pd.read_csv(i)
        df = df[2:]
        result_df = pd.concat([result_df, df])
    except:
        print(i)
print(result_df.shape)
result_df.head()

./data/real_estate1013/a_lvr_land_b.csv
(5396, 28)

,鄉鎮市區,交易標的,土地區段位置建物區段門牌,土地移轉總面積平方公尺,都市土地使用分區,非都市土地使用分區,非都市土地使用編定,交易年月日,交易筆棟數,移轉層次,...,建物現況格局-衛,建物現況格局-隔間,有無管理組織,總價元,單價元平方公尺,車位類別,車位移轉總面積平方公尺,車位總價元,備註,編號
2,中正區,房地(土地+建物)+車位,福和段一小段61~90地號,18.51,住,NaN,NaN,1060225,土地1建物1車位1,十層,...,2,有,無,40000000,294233,升降機械,24.62,2500000,NaN,RPTOMLLKKHPFFAA77DB
3,北投區,房地(土地+建物),三合段1~30地號,18.59,住,NaN,NaN,1040913,土地1建物1車位0,七層,...,1,有,無,15550000,183027,NaN,0.0,0,NaN,RPVOMLLLKHPFFEA38CB
4,內湖區,房地(土地+建物)+車位,東湖段一小段1~30地號,24.44,住,NaN,NaN,1080607,土地1建物1車位1,二層,...,2,有,無,21180000,147721,坡道機械,16.5,1700000,NaN,RPSNMLNLLHPFFCA08CB
5,內湖區,房地(土地+建物)+車位,東湖段一小段1~30地號,27.25,住,NaN,NaN,1080623,土地1建物1車位1,四層,...,2,有,無,24100000,153993,坡道機械,16.5,1500000,NaN,RPVNMLNLLHPFFCA38CB
6,內湖區,房地(土地+建物)+車位,東湖段一小段1~30地號,27.25,住,NaN,NaN,1080705,土地1建物1車位1,十一層,...,2,有,無,25000000,160807,坡道機械,16.5,1400000,NaN,RPWNMLNLLHPFFCA48CB

In [205]:
# '交易標的'與後方交易筆棟數資料重複，所以drop
# '非都市土地使用分區','非都市土地使用編定','建築完成年月','備註'缺失值過多，drop
# '編號','土地區段位置建物區段門牌'無意義
result_df = result_df.drop(['土地區段位置建物區段門牌','交易標的','非都市土地使用分區','非都市土地使用編定','建築完成年月','備註','編號'],axis = 1)
print(result_df.shape)
print(result_df.columns)
result_df.head(1)

(5396, 21)
Index(['鄉鎮市區', '土地移轉總面積平方公尺', '都市土地使用分區', '交易年月日', '交易筆棟數', '移轉層次', '總樓層數',
       '建物型態', '主要用途', '主要建材', '建物移轉總面積平方公尺', '建物現況格局-房', '建物現況格局-廳',
       '建物現況格局-衛', '建物現況格局-隔間', '有無管理組織', '總價元', '單價元平方公尺', '車位類別',
       '車位移轉總面積平方公尺', '車位總價元'],
      dtype='object')

,鄉鎮市區,土地移轉總面積平方公尺,都市土地使用分區,交易年月日,交易筆棟數,移轉層次,總樓層數,建物型態,主要用途,主要建材,...,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,建物現況格局-隔間,有無管理組織,總價元,單價元平方公尺,車位類別,車位移轉總面積平方公尺,車位總價元
2,中正區,18.51,住,1060225,土地1建物1車位1,十層,13,住宅大樓(11層含以上有電梯),住家用,混凝土造,...,3,2,2,有,無,40000000,294233,升降機械,24.62,2500000

In [206]:
# 將交易筆棟數分割成三個欄位
import re
build_list_split = []
build_list = result_df['交易筆棟數'].values.tolist()
rex = r'(\u571f\u5730){1}([0-9]*)(\u5efa\u7269){1}([0-9]*)(\u8eca\u4f4d){1}([0-9]*)'
for row in build_list:
    match = re.search(rex, row)
    build_list_split.append([match[2],match[4],match[6]])
build_df_split = pd.DataFrame(build_list_split, columns = ['土地','建物','車位'])
print(build_df_split.shape)
build_df_split

(5396, 3)

     土地 建物 車位
0     1  1  1
1     1  1  0
2     1  1  1
3     1  1  1
4     1  1  1
...  .. .. ..
5391  1  1  0
5392  1  1  0
5393  1  1  0
5394  1  1  0
5395  1  1  0

[5396 rows x 3 columns]

In [207]:
# 將新的dateframe加入原有資料表，並且移除原有資料
result_df = result_df.reset_index(drop=True)
build_df_split = build_df_split.reset_index(drop=True)
result_df = pd.concat([result_df, build_df_split], axis = 1)
result_df = result_df.drop(['交易筆棟數'],axis = 1)
result_df.head(2)

,鄉鎮市區,土地移轉總面積平方公尺,都市土地使用分區,交易年月日,移轉層次,總樓層數,建物型態,主要用途,主要建材,建物移轉總面積平方公尺,...,建物現況格局-隔間,有無管理組織,總價元,單價元平方公尺,車位類別,車位移轉總面積平方公尺,車位總價元,土地,建物,車位
0,中正區,18.51,住,1060225,十層,13,住宅大樓(11層含以上有電梯),住家用,混凝土造,152.07,...,有,無,40000000,294233,升降機械,24.62,2500000,1,1,1
1,北投區,18.59,住,1040913,七層,9,華廈(10層含以下有電梯),住家用,鋼筋混凝土造,84.96,...,有,無,15550000,183027,NaN,0.0,0,1,1,0

In [208]:
# 把車位類別做處理，避免dropna過多
print(result_df.shape)
result_df['車位類別'].fillna(value='0', inplace=True)
result_df = result_df.dropna()
print(result_df.shape)

(5396, 23)
(5252, 23)

In [209]:
# 安裝中文字轉數字套件
# pip install cn2an -U

In [210]:
# 測試cn2an套件功能
import cn2an
output = cn2an.cn2an("一百二十三")
output

123

In [211]:
import re
floor_list_split = []
floor_list = result_df['移轉層次'].values.tolist()
floor_rex = r'(.*)(\u5c64)'
for row in floor_list:
    match = re.search(floor_rex, row)
    num = cn2an.cn2an(match[1])
    floor_list_split.append(num)
floor_df_split = pd.DataFrame(floor_list_split, columns = ['轉移樓層'])
print(floor_df_split.shape)
floor_df_split.head()

(5252, 1)

   轉移樓層
0    10
1     7
2     2
3     4
4    11

In [212]:
# 將新的dateframe加入原有資料表，並且移除原有資料
result_df = result_df.reset_index(drop=True)
floor_df_split = floor_df_split.reset_index(drop=True)
result_df = pd.concat([result_df, floor_df_split], axis = 1)
result_df = result_df.drop(['移轉層次'],axis = 1)
print(result_df.shape)
result_df.head(2)

(5252, 23)

,鄉鎮市區,土地移轉總面積平方公尺,都市土地使用分區,交易年月日,總樓層數,建物型態,主要用途,主要建材,建物移轉總面積平方公尺,建物現況格局-房,...,有無管理組織,總價元,單價元平方公尺,車位類別,車位移轉總面積平方公尺,車位總價元,土地,建物,車位,轉移樓層
0,中正區,18.51,住,1060225,13,住宅大樓(11層含以上有電梯),住家用,混凝土造,152.07,3,...,無,40000000,294233,升降機械,24.62,2500000,1,1,1,10
1,北投區,18.59,住,1040913,9,華廈(10層含以下有電梯),住家用,鋼筋混凝土造,84.96,2,...,無,15550000,183027,0,0.0,0,1,1,0,7

In [213]:
# 處理建物型態，不要括號後面的東西
import re
type_list_split = []
type_list = result_df['建物型態'].values.tolist()
type_rex = r'(.*)(\(){01}'
for row in type_list:
    try:
        match = re.search(type_rex, row)
        type_list_split.append(match[1])
    except:
        type_list_split.append(row)
type_df_split = pd.DataFrame(type_list_split, columns = ['建物類型'])
print(type_df_split.shape)
type_df_split.head()

(5252, 1)

   建物類型
0  住宅大樓
1    華廈
2  住宅大樓
3  住宅大樓
4  住宅大樓

In [214]:
# 將新的dateframe加入原有資料表，並且移除原有'建物型態'
result_df = result_df.reset_index(drop=True)
type_df_split = type_df_split.reset_index(drop=True)
result_df = pd.concat([result_df, type_df_split], axis = 1)
result_df = result_df.drop(['建物型態'],axis = 1)
print(result_df.shape)
result_df.head(2)

(5252, 23)

,鄉鎮市區,土地移轉總面積平方公尺,都市土地使用分區,交易年月日,總樓層數,主要用途,主要建材,建物移轉總面積平方公尺,建物現況格局-房,建物現況格局-廳,...,總價元,單價元平方公尺,車位類別,車位移轉總面積平方公尺,車位總價元,土地,建物,車位,轉移樓層,建物類型
0,中正區,18.51,住,1060225,13,住家用,混凝土造,152.07,3,2,...,40000000,294233,升降機械,24.62,2500000,1,1,1,10,住宅大樓
1,北投區,18.59,住,1040913,9,住家用,鋼筋混凝土造,84.96,2,2,...,15550000,183027,0,0.0,0,1,1,0,7,華廈

In [216]:
# 將總表進行輸出，完全覆蓋模式
import csv
with open('./done_data/total_new_clean.csv', 'w', newline='') as csvfile2:
    writer = csv.writer(csvfile2)
    writer.writerows([result_df.columns]) # 加入feature name
    writer.writerows(result_df.values.tolist())